@{
    Layout="Shared/_Layout.cshtml";
}

<h3>@Model["Category"].GetName()</h3>

@foreach(var ticket in @Model["CategoryList"])
{
    <a href="/ticket/@ticket.GetId()">
        <div class="ticket">
            <p>Ticket Number: @ticket.GetTicketNumber() </p>
            <p>Severity: @ticket.GetSeverity() </p>
            <p>Status: @ticket.GetStatus()</p>
        </div>
    </a>
    <hr/>
}
