@{
    Layout="Shared/_Layout.cshtml";
}

<h3>@Model["Category"].GetName()</h3>

@if(@Model["CategoryList"].Count == 0)
{
    <p>There is nothing in your queue</p>
}
@foreach(var ticket in @Model["CategoryList"])
{
    <a href="/ticket/@ticket.GetId()">
        <div class="ticket">
            <p>Ticket Number: @ticket.GetConvertedTicketNum() </p>
            <p>Severity: @ticket.GetSeverity() </p>
            <p>Status: @ticket.GetStatus()</p>
        </div>
    </a>
    <hr/>
}
