@{
    Layout="Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s6">
        <h3>Ticket#: @Model["Ticket"].GetTicketNumber()</h3>
        <form class="" action="/ticket/@Model["Ticket"].GetId()" method="post">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="user-id" value="@Model["User"].GetId()">
            <label for="name">Name: </label><input type="text" value="@Model["User"].GetName()" id="name" name="name">
            <label for="address">Address: </label><input type="text" value="@Model["User"].GetAddress()" id="address" name="address">
            <label for="phone">Phone: </label><input type="text" value="@Model["User"].GetPhone()" id="phone" name="phone">
            <label for="email">Email: </label><input type="text" value="@Model["User"].GetEmail()" id="email" name="email">
            <label for="product">Product: </label><input type="text" value="@Model["Ticket"].GetProduct()" id="product" name="product">
            @if(Model["Departments"].Count != 0)
            {
                <select class="" name="department-id">
                    @foreach(var department in Model["Departments"])
                    {
                        @if(department.GetId() == Model["Ticket"].GetDepartmentId())
                        {
                            <option value="@department.GetId()" selected>@department.GetName()</option>
                        }
                        else
                        {
                            <option value="@department.GetId()">@department.GetName()</option>
                        }
                    }
                </select>
            }
            <label for="severity">Severity: </label>
            <input name="severity" type="text" value="@Model["Ticket"].GetSeverity()" id="severity">

            <label for="open-status">Open/Closed:</label>
            <select name="open-status" id="open-status">
                @if(Model["Ticket"].GetOpen() == 1)
                {
                    <option value="1" selected>Open</option>
                    <option value="0">Closed</option>
                }
                else
                {
                    <option value="1">Open</option>
                    <option value="0" selected>Closed</option>
                }
            </select>

            <label for="current-status">Status: </label>
            <select name="current-status" id="current-status">
                <option value="In Progress">In Progress</option>
                <option value="Resolved">Resolved</option>
                <option value="Unresolved">Unresolved</option>
                <option value="Requires Additional Research">Requires Additional Research</option>
            </select>
            <hr>
            <label for="description">Description: </label><textarea rows="8" name="description">@Model["Ticket"].GetDescription()</textarea>
            <button type="submit" name="button">Update</button>
        </form>
    </div>
    <div class="col s6">
        <a class="btn" href="/ticket/@Model["Ticket"].GetId()/articles">Add Article</a>
        @if(Model["ArticlesAttached"].Count != 0)
        {
            @foreach(var article in Model["ArticlesAttached"])
            {
                <a href="/ticket/@Model["Ticket"].GetId()/articles/@article.GetId()"><p>@article.GetTitle()</p></a>
            }
        }

        <form action="/ticket/@Model["Ticket"].GetId()/add-note" method="post">
            <label for="note">Add Note: </label>
            <textarea name="note"></textarea>
            <button class="btn" type="submit" name="button">Submit</button>
        </form>
        <hr>

        @if(Model["Notes"].Count != 0)
        @foreach(var note in Model["Notes"])
        {
            <p>Admin: @note.GetAdminName()</p>
            <p>Note: @note.GetText()</p>
            <p>Date: @note.GetDate()</p>
            <hr>
        }



    </div>

</div>
