@{
    Layout="Shared/_Layout.cshtml";
}

<h3>Ticket#: @Model["Ticket"].GetTicketNumber()</h3>
<form class="" action="/ticket/@Model["Ticket"].GetId()" method="post">
    <label for="name">Name: </label><input type="text" value="@Model["User"].GetName()" id="name" name="name">
    <label for="address">Address: </label><input type="text" value="@Model["User"].GetAddress()" id="address" name="address">
    <label for="phone">Phone: </label><input type="text" value="@Model["User"].GetPhone()" id="phone" name="phone">
    <label for="email">Email: </label><input type="text" value="@Model["User"].GetEmail()" id="email" name="email">
    <label for="product">Product: </label><input type="text" value="@Model["Ticket"].GetProduct()" id="product" name="product">
    <label for="department">Department: </label><input type="text" value="@Model["Department"].GetName()" id="department" name="department">
    <label for="severity">Severity: </label><input type="text" value="@Model["Ticket"].GetSeverity()" id="severity">
    <label for="open-status">Open/Closed:</label>
    <select name="open-status" id="open-status">
        @if(Model["Ticket"].GetOpen() == 1)
        {
            <option value="1" selected>Open</option>
            <option value="0">Closed</option>
        }
        else
        {
            <option value="1">Open</option>
            <option value="0" selected>Closed</option>
        }
    </select>
    <label for="status">Status:</label>
    <select class="" name="status" id="status">
        <option>Resolved</option>
        <option>In Progress</option>
        <option>Unresolved</option>
        <option>Requires Additional Research</option>
    </select>
    <hr>
    <label for="description">Description: </label><textarea>@Model["Ticket"].GetDescription()</textarea>
    <button type="button" name="button">Update</button>
</form>
